.sobre-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CAPA ENCIMA DEL VIDEO */
.overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #ffffff;
    padding: 20px;

    /* un poco más oscuro para que el blanco resalte */
    background: rgba(0, 0, 0, 0.28);
    transition: all 1.5s ease;
}

.overlay.cerrando {
    opacity: 0;
    transform: scale(1.08);
}

/* NOMBRES */
.titulo-portada {
    font-family: 'Explora', cursive;
    font-size: clamp(2.8rem, 9vw, 5rem);
    font-weight: 700;
    /* Usa la versión más elegante */
    color: white;
    -webkit-text-stroke: 0.5px rgba(255,255,255,0.9);
}

/* SE MARIENT */
.subtitulo-portada {
    font-family: 'Explora', cursive;
    font-size: 5rem;
    font-size: clamp(1rem, 2vw, 1.35rem);
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #ffffff !important;
    opacity: 1 !important;
    text-shadow:
        0 2px 8px rgba(0, 0, 0, 0.55),
        0 4px 18px rgba(0, 0, 0, 0.45);
    -webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.9);

}

/* BOTÓN */
.boton-portada {
    font-family: 'Explora', cursive !important;


    border-radius: 999px !important;
    padding: 14px 34px !important;
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, 0.9) !important;

    background: rgba(255, 255, 255, 0.2) !important;
    color: #ffffff !important;
    text-shadow:
        0.3px 0 rgba(0, 0, 0, 0.5),
        -0.3px 0 rgba(0, 0, 0, 0.5),
        0 0.3px rgba(0, 0, 0, 0.5),
        0 -0.3px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);

    -webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.9);

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.28);
    transition: all 0.35s ease !important;
}

/* HOVER */
.boton-portada:hover {
    transform: translateY(-2px) scale(1.03);
    background: rgba(255, 255, 255, 0.32) !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.32);
}

/* CLICK */
.boton-portada:active {
    transform: scale(0.98);
}

/* MOBILE */
@media (max-width: 768px) {
    .titulo-portada {
        letter-spacing: 2px;
        margin-bottom: 12px;
    }

    .subtitulo-portada {
        letter-spacing: 4px;
        margin-bottom: 28px;
        font-size: 0.95rem;
    }

    .boton-portada {
        padding: 12px 26px !important;
        font-size: 0.95rem !important;
    }
}

.contenido-portada {
    display: flex;
    flex-direction: column;
    align-items: center;
}